In [1]:
import geopandas as gpd
import pandas as pd

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_MSSQLSpatial.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_MSSQLSpatial.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_OCI.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_OCI.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_PG.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_PG.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_MSSQLSpatial.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_MSSQLSpatial.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_OCI.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_OCI.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_PG.dll
126: The specified module could not be found.

Can't load requested DLL: C:\Program Files\GeoDa Software\ogr_PG.dll
126: The specified module could not be found.

In [2]:
location = "https://raw.githubusercontent.com/nikkopante/data-camp/main/provinces/provinces.geojson"
gdf = gpd.read_file(location)
gdf.head()

,ADM2_EN,ADM2_PCODE,geometry
0,NCR,PH133900000,"POLYGON ((121.10389 14.51649, 121.10248 14.524..."
1,Abra,PH140100000,"POLYGON ((121.11067 17.68489, 121.10883 17.739..."
2,Agusan del Norte,PH160200000,"POLYGON ((125.74862 9.32604, 125.74822 9.32838..."
3,Agusan del Sur,PH160300000,"POLYGON ((126.22779 8.00019, 126.22727 8.00119..."
4,Aklan,PH060400000,"MULTIPOLYGON (((122.43948 11.60264, 122.43877 ..."

In [3]:
location = "./data_camp_registrants.csv"
registrants_df = pd.read_csv(location)
registrants_df.head(10)

           Province  SIICaP Data Camp  PINAS
0              Abra                 3    NaN
1  Agusan del Norte                12    NaN
2    Agusan del Sur                 1    NaN
3             Aklan                10    NaN
4             Albay                14    NaN
5           Antique                 2    NaN
6            Apayao                 0    NaN
7            Aurora                 1    NaN
8           Basilan                 0    NaN
9            Bataan                 3    NaN

In [4]:
gdf = gdf.merge(registrants_df, left_on='ADM2_EN', right_on='Province')
gdf = gdf.drop(['ADM2_EN'], axis=1)

gdf.head()

,ADM2_PCODE,geometry,Province,SIICaP Data Camp,PINAS
0,PH133900000,"POLYGON ((121.10389 14.51649, 121.10248 14.524...",NCR,379,NaN
1,PH140100000,"POLYGON ((121.11067 17.68489, 121.10883 17.739...",Abra,3,NaN
2,PH160200000,"POLYGON ((125.74862 9.32604, 125.74822 9.32838...",Agusan del Norte,12,NaN
3,PH160300000,"POLYGON ((126.22779 8.00019, 126.22727 8.00119...",Agusan del Sur,1,NaN
4,PH060400000,"MULTIPOLYGON (((122.43948 11.60264, 122.43877 ...",Aklan,10,NaN

In [5]:
gdf.to_file("example.geojson", driver='GeoJSON')

C:\Users\Nikko\anaconda3\envs\pydeck\lib\site-packages\geopandas\io\file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,